@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #FCFAF2;
}

#navi {
	position: fixed;
	top: 100px;
	left: 0px;
	overflow: hidden;
	box-shadow: #787878 2px 2px 7px;
}
#navi a {
	width: 100px;
	padding: 9px 0;
	line-height: 1.618;
	display: block;
	color: #FFFFFF;
	background-color: #BDC0BA;
	text-align: center;
	text-decoration: none;
	border-bottom: #91989F solid 1px;
	border-top: #DEE0DD solid 1px;
}
#navi a.first-child {
	border-top: none;
}
#navi a.last-child {
	border-bottom: none;
}
#navi .comingohstrolls {
	background-color: #FCFAF2;
	color: #1C1C1C;
}
.section {
	width: 1024px;
	padding: 50px 0;
	margin: 0 auto;
	overflow: hidden;
}
.section h2 {
	font-size: 32px;
	margin-bottom: 1em;
	border-bottom: #828282 solid 1px;
}
.section h3 {
	font-size: 24px;
	margin-bottom: .2em;
}
.legend {
	position: relative;
}
.legend p.en, .legend p.cn {
	line-height: 3;
}
.legend p.en {
	color: #1C1C1C;
	margin-bottom: 2em;
}
.legend p.cn {
	color: #828282;
	position: absolute;
	top: 1.618em;
}
.legend ul.en, .legend ul.cn {
	padding-top: 15px;
}
.legend ul.en li {
	margin-bottom: 2em;
}
.legend ul.cn {
	position: absolute;
	top: 1.5em;
}
.legend ul.cn li {
	color: #828282;
	margin-bottom: 2em;
}
.section .code {
	color: #1C1C1C;
	background-color: #BDC0BA;
	border: #434343 solid 1px;
	padding: 5px;
	line-height: 1.414;
	margin-bottom: 24px;
}
/*#section-1 {
	background-color: #FF0000;
}
#section-2 {
	background-color: #00FF00;
}
#section-3 {
	background-color: #0000FF;
}
#section-4 {
	background-color: #FFFF00;
}*/
#back-to-top {
	display: block;
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 100px;
	padding: 9px 0;
	line-height: 1.618;
	color: #FFFFFF;
	background-color: #91989F;
	text-align: center;
	text-decoration: none;
}
#back-to-top:hover {
	background-color: #080808;
}