@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global Settings  */
body {
	color: #434343;
	background-color: #FFFFFB;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
a {
	color: #005CAF;
	outline: none;
	text-decoration: none;
}
a:hover {
	color: #58B2DC;
}
.email {
	unicode-bidi: bidi-override;
	direction: rtl;
	color: #005CAF;
}
/* Default Layout 
------------------------------------------------------------------------------ */
#navi {
	position: fixed;
	top: 100px;
	left: 0;
	width: 100px;
	height: 309px;
	overflow: hidden;
	box-shadow: #BDC0BA 7px 7px 2px;
}
#navi li {
	width: 200px;
	height: 62px;
}
#navi li a {
	width: 100px;
	padding: 19px 0;
	color: #FFFFFB;
	background-color: #58B2DC;
	text-align: center;
	text-decoration: none;
	line-height: 1.618;
	display: block;
	border-top: #CDE8F4 solid 1px;
	border-bottom: #3A8FB7 solid 1px;
}
#navi li a:hover {
	color: #005CAF;
	background-color: #CDE8F4;
}
#navi .last-child a {
	border-bottom: none;
}
#navi li .comingohstrolls {
	color: #005CAF;
	background-color: #EEF7FB;
}
#page {
	width: 1024px;
	margin: 50px auto;
	overflow: hidden;
}
#title {
	font-size: 36px;
	margin-bottom: .5em;
}
#subtitle {
	font-size: 18px;
	padding-bottom: .5em;
	border-bottom: #BDC0BA solid 1px;
	margin-bottom: 20px;
}
#page .section {
	overflow: hidden;
	margin-bottom: 20px;
}
#page h2 {
	font-size: 24px;
	margin-bottom: 20px;
}
#page h3 {
	font-size: 18px;
	margin-bottom: 10px;
}
#page p {
	line-height: 1.618;
	margin-bottom: 1em;
}
#page .list-items {
	line-height: 1.618;
	margin-bottom: 1em;
	list-style-type: disc;
	list-style-position: inside;
	padding-left: 5px;
}
#page table {
	width: 100%;
	margin-bottom: 20px;
}
#page table thead {
	background-color: #EEF7FB;
}
#page table thead th {
	padding: 10px;
	text-align: left;
	border-right: #FFFFFF solid 2px;
}
#page table thead .last-child {
	border-right: 0;
}
#page table tbody th, #page table tbody td {
	padding: 10px;
	border-bottom: #BDC0BA solid 1px;
	line-height: 1.618;
}
#page table tbody th {
	color: #58B2DC;
	text-align: left;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	border-right: #FFFFFF solid 2px;
}
#page table tbody .last-child {
	border-right: 0;
}
#back-to-top {
	width: 100px;
	padding: 20px 0;
	color: #005CAF;
	background-color: #CDE8F4;
	text-align: center;
	text-decoration: none;
	line-height: 1.618;
	display: block;
	position: fixed;
	right: 20px;
	bottom: 20px;
	box-shadow: #BDC0BA 7px 7px 2px;
}
#back-to-top:hover {
	background-color: #58B2DC;
	color: #FFFFFB;
}

/* Google Code Prettify 
------------------------------------------------------------------------------ */
.prettyprint .str { color: #CB1B45; } /* string  - kurenai */
.prettyprint .kwd { color: #58B2DC; } /* keyword - sora */
.prettyprint .com { color: #91989F; font-style: italic; } /* comment - hai */
.prettyprint .typ { color: #58B2DC; } /* type - sora */
.prettyprint .lit { color: #CB1B45; } /* literal - kurenai */
.prettyprint .pun { color: #434343; } /* punctuation - keshizumi */
.prettyprint .pln { color: #434343; } /* plaintext - keshizumi */
.prettyprint .tag { color: #005CAF; } /* html/xml tag - ruri */
.prettyprint .atn { color: #00AA90; } /* html/xml attribute name - aomidori */
.prettyprint .atv { color: #CB1B45; } /* html/xml attribute value - kurenai */
.prettyprint .dec { color: #CB1B45; } /* decimal - kurenai */

.prettyprint {
	background-color: #EEF7FB;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-size: 13px;
	line-height: 1.414;
	white-space: pre-wrap;
	padding: 5px 20px;
	border-left: #CDE8F4 solid 4px;
	margin-bottom: 20px;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
	margin: 0;
	list-style-type: decimal;
	padding-left: 20px;
}
ol.linenums li {
	color: #91989F;
}
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 {}
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 {}

@media print {
.prettyprint .str { color: #CB1B45; }
.prettyprint .kwd { color: #58B2DC; font-weight: bold; }
.prettyprint .com { color: #91989F; font-style: italic; }
.prettyprint .typ { color: #58B2DC; font-weight: bold; }
.prettyprint .lit { color: #CB1B45; }
.prettyprint .pun { color: #434343; }
.prettyprint .pln { color: #434343; }
.prettyprint .tag { color: #005CAF; font-weight: bold; }
.prettyprint .atn { color: #CB1B45; }
.prettyprint .atv { color: #CB1B45; }
}

/* Tablet Layout
------------------------------------------------------------------------------ */

@media only screen and (min-width: 768px) and (max-width: 991px) {

#navi {
	width: 100%;
	height: 40px;
	top: 0px;
	left: 0px;
	-webkit-box-shadow: #BDC0BA 0 7px 2px;
	-moz-box-shadow: #BDC0BA 0 7px 2px;
	-o-box-shadow: #BDC0BA 0 7px 2px;
	box-shadow: #BDC0BA 0 7px 2px;
}
#navi li {
	width: 20%;
	float: left;
}
#navi li a {
	width: auto;
	padding: 9px 0;
	border-top: none;
	border-right: #3A8FB7 solid 1px;
	border-bottom: none;
	border-left: #CDE8F4 solid 1px;
}
#page {
	width: 100%;
	padding: 70px 0 50px;
}
#page .section {
	margin: 0 20px 20px;
}
#back-to-top {
	padding: 9px 0;
}
}

@media only screen and (max-width: 767px) {

#navi {
	width: 100%;
	height: 40px;
	top: 0px;
	left: 0px;
	-webkit-box-shadow: #BDC0BA 0 7px 2px;
	-moz-box-shadow: #BDC0BA 0 7px 2px;
	-o-box-shadow: #BDC0BA 0 7px 2px;
	box-shadow: #BDC0BA 0 7px 2px;
}
#navi li {
	width: 20%;
	float: left;
}
#navi li a {
	width: auto;
	padding: 9px 0;
	border-top: none;
	border-right: #3A8FB7 solid 1px;
	border-bottom: none;
	border-left: #CDE8F4 solid 1px;
}
#page {
	width: 100%;
	padding: 50px 0;
}
#page .section {
	margin: 0 10px 20px;
}
#page table thead th {
	padding: 10px 5px;
}
#page table tbody th, #page table tbody td {
	padding: 10px 5px;
}
#back-to-top {
	padding: 9px 0;
	display: none;
}
/* Google Code Prettify */
.prettyprint {
	padding: 5px 2px 5px 3px;
}
ol.linenums {
	padding-left: 20px;
}
}